/* link to the color pallete */
/* https://colorhunt.co/palette/0513672d31fa5d8bf4dff6ff */

:root{
    --deep-blue:#051367;
    --blue:#2D31FA;
    --light-blue:#5D8BF4;
    --lighter-blue:#DFF6FF;
    --pinky-like:#FF8891;
    --green-like:#52CAB6;
}

*{
    text-decoration: none !important;
}

body{
    font-size:16px;
    background-color:var(--deep-blue) !important;
}

/* Styling for Preloader Section */
#preloader{
    width:100%;
    min-height:100vh;
    display:flex;
    align-items: center;
    justify-content: center;
    display:none;
}

#preloader > img{
    width:500px;
    height:500px;
}

/* Styling for Nav Section */
.navbar{
    background-color:var(--deep-blue);
    margin-bottom: 40px;
}
.navbar-brand{
    font-family: 'Poppins', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-size:25px !important;
}
.brand-style{
    color:var(--light-blue);
    letter-spacing: 1px;
}
.nav-link {
    color:var(--lighter-blue) !important;
    font-family: 'Poppins', sans-serif;
    font-weight:bold;
}

/* section component */
section{
    min-height:100vh;
}

/* styling for landing section */
#landingSection{
    display:flex;
    align-items: center;
    background-color:var(--deep-blue);
    /* border:2px solid white; */
    position: relative;
    margin-top:70px;
    z-index: 997;
}


.landing-col{
    display:flex;
    justify-content: center;
    flex-direction: column;
}

.content-head h1{
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight:900;
    color:var(--light-blue);
    margin-top: auto;
    margin-bottom: auto;
}
.stack{
    color:var(--lighter-blue);
    font-size:18px;
    font-family: 'Montserrat', sans-serif;
}
.summary{
    color:var(--lighter-blue);
    font-family: 'Poppins', sans-serif;
}

mark{
    background-color:var(--pinky-like) !important;
    /* font-weight:bold; */
    border-radius:5px;
    color:var(--lighter-blue);
}

.btn-wrapper{
    display: flex;
    flex-wrap:wrap;
    margin-top:30px;
}
.more-btn{
    font-family: 'Poppins', sans-serif !important;
    font-weight:400;
    margin:5px 5px 5px 0;
    flex-grow:1;
}
.gs-btn,.download-btn{
    background-color:var(--blue) !important;
    font-weight:bold !important;
    color:var(--lighter-blue) !important;
    letter-spacing: 2px;
}
.hire-btn{
    flex-grow:1;
    background-color: var(--pinky-like) !important;
    font-weight:bold !important;
    color:var(--lighter-blue) !important;
    letter-spacing: 1px;
}

.social-icons{
    padding:20px 0 15px 0;
    display: flex;
    /* border:2px solid white; */
}

.social-icons > *{
    font-size:35px;
    margin:0 20px 0 0;
    color:var(--light-blue)
}

.social-icons > *:hover{
    color:white;
}

.image-head{
    display:flex;
    align-items: center;
    justify-content: flex-end;
    /* border:2px solid white; */
}
.image-head img{
    width:500px;
    height:500px;
}